<ion-content [fullscreen]="true">

  <!-- image upload, reorder and delete -->
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor='let preview of previews; let i=index;'>
      <ion-thumbnail>
        <img [src]="preview" alt="" class="img-padding">
      </ion-thumbnail>
      <ion-reorder color="primary" slot="end"></ion-reorder>
      <ion-icon color="danger" name="close-circle-outline" slot="end" (click)="removeImage(i)"></ion-icon>
    </ion-item>
  </ion-reorder-group>

  <!-- input field for selecting images from local path -->
  <input #image type="file" accept="image/*" hidden multiple (change)="selectFiles($event)" />

  <!-- add button in ionic for above input field -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="image.click()">
      <ion-icon name="images"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="footer-txt">@bhuvaneshcj</ion-title>
  </ion-toolbar>
</ion-footer>